.batch-card-ghost {
    width: 140px;
    height: 140px;
    background: #ececec;
    border: 2px solid #fff;
    border-radius: 3px;
    z-index: 4px;
    margin: 20px;
    padding: 20px;
    float: left;
    display: inline;
}